.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  overflow: hidden;
}

.contactListScrollableDiv {
  overflow-y: scroll;
  height: calc(100vh - 55px);
  padding: 10px;
}

.cardInfo {
  box-shadow: none !important;
}

.contactAlphabetDivider::before {
  width: 0% !important;
}

.cardInfoDetails {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  box-shadow: none !important;
  padding: 5px;
}

.tabPanelDataInnerDetails {
  padding: 10px 0px 0px 0px !important
}

.cardInfoChipDetails {
  overflow: hidden;
}
